@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", "Tajawal", serif;
  --font-quran: "Amiri Quran", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
}
