@import "tailwindcss";

@font-face {
  font-family: 'KFGQPCHafs';
  src: url('/fonts/hafs.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Inter", "Noto Kufi Arabic", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Kufi Arabic", serif;
  --font-kufi: "Noto Kufi Arabic", sans-serif;
  --font-quran: 'KFGQPCHafs', serif;
}

body {
  font-family: var(--font-kufi);
  background-color: #f8fafc;
}
